@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace !important; 
}

h3, p{
  text-align: justify;
}

footer{
  text-align: center !important;
}

footer a{
  text-decoration: none !important;
}

footer img {
  width: 50px;
  height: auto;
}

span i{
  color:red;
}

.navbar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.index-list li, a {
  list-style-type: none;
  margin-top: 1rem;
}

.index-list a {
  text-decoration: none;
}

.en-curs {
  position: relative;
  white-space: pre;
  &:after {
    background: black;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
  }
}

.node {
  cursor: pointer;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.timeline-container.left {
  left: 0;
  text-align: right;
}

.timeline-container.right {
  left: 50%;
  text-align: left;
}

.timeline-container::after {
  content: '';
  position: absolute;
  top: 15px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
}

.timeline-container.left::after {
  right: -6px;
}

.timeline-container.right::after {
  left: -6px;
}

.timeline-content {
  padding: 15px;
  background: #f8f9fa;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .timeline-container {
      width: 100%;
      text-align: center;
  }
  .timeline-container.right {
      left: 0;
  }
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: rgb(0, 0, 0);
}

.lupa-container {
  position: relative;
  display: inline-block;
}

.lupa-lens {
  position: absolute;
  border: 2px solid #212529;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-95%, -95%);
  display: none;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

pre.diagram {
  background-color: #f4f4f4;
}

pre::-webkit-scrollbar {
  width: 8px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #212529; 
}

pre::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.equips{
  width: 120px;
  height: auto;
}